<!DOCTYPE html>
<html>
    
    <head>
        <meta charset ="utf-8">
        <title> Parking Lot Tracker </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>

    <body>
    {% csrf_token %}
        <nav id="sidenav">
            <ul class="menu">
                
                <h1 id = "total_count", value = "{{total}}">Total Spaces: {{total}}</h1>
                <h1 id = "current_count", value = "{{current}}">Current Count: {{current}}</h1>
                <h1 id = "available_count", value = "{{available}}">Available Spaces: {{available}}</h1>
                {% comment %} <li>Stats</li> {% endcomment %}
            </ul>
        </nav>

        <div class = "main">
            <img id ="parking_image" src = "{% static 'media/parking.jpeg'%}"></img>
        </div>
        <script src="{% static 'javascript/update_image.js' %}"></script>
    </body>
</html>

